<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= baseUrl %>/public/css/index.css">
    <link rel="stylesheet" href="<%= baseUrl %>/public/css/styles.css">
    <script src="https://kit.fontawesome.com/be301cfe91.js" crossorigin="anonymous"></script> 
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="https://durhamcollege.desire2learn.com/d2l/home/564035" target="_blank">DC Connect</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about.html">About Me</a>
              </li>
  
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Assignment 1
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="<%= baseUrl %>labs/lab1">Lab 1 Write Up</a></li>
                  <li><a class="dropdown-item" href="<%= baseUrl %>/lab1_instructions">Lab 1 Instructions</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="<%= baseUrl %>/Assignment1">Assignment 1 Readme</a></li>
                  <li><a class="dropdown-item" href="/posts/a1_instructions">Assignment 1 Instructions</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Assignment 2
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="<%= baseUrl %>labs/lab2">Lab 2 Write Up</a></li>
                  <li><a class="dropdown-item" href="<%= baseUrl %>/lab2_instructions">Lab 2 Instructions</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="<%= baseUrl %>/Assignment2">Assignment 2 Readme</a></li>
                  <li><a class="dropdown-item" href="<%= baseUrl %>/a2_instructions">Assignment 2 Instructions</a></li>
                </ul>
              </li>
 -->



              <li class="nav-item">
                <a class= "nav-link" href="/people/1.html">People City & Colour</a>
                </li>
                <li class="nav-item">
                  <a class= "nav-link" href="/quiz/1.html">Music Quiz</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/posts.html">Posts</a>
                  </li>   
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/contact.html">Posts</a>
                  </li>     
            </ul>
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>