---
pagination:
  data: people
  size: 10
layout: layouts/default.ejs
title: Favourite Colours and City
permalink: "people/<%= pagination.pageNumber + 1 %>"
---

<div class="col-md-6">
  <h1><%= title %></h1>

  <ol id="peopleList">
    <% pagination.items.forEach((people) => { %>
    <li>
      <%= people.name %>'s Favourite colour is
      <span style="background-color: <%= people.colour %>"
        ><%= people.colour%></span
      >
      They live in <%= people.city %>
    </li>
    <% }); %>
  </ol>
</div>

<%- include ("./_includes/partials/pagination.ejs") %>
